.notion {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    caret-color: var(--fg-color);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}

.notion-title {
    width: 100%;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}

.not-notion-full-width {
    width: auto;
    max-width: 1080px;
    margin-top: 0 !important;
}

.notion-full-width {
    width: auto;
    max-width: 1080px;
    margin-top: 0 !important;
    --notion-max-width: calc(min(1920px, 98vw));
    padding-left: 0;
    padding-right: 0;
}

notion-page{
    width: inherit;
}

.notion-page-no-cover.notion-page-has-image-icon {
    padding-top: 100px;
}

.notion-page-has-cover.notion-page-has-text-icon {
    padding-top: 100px;
}

.notion-page-icon-wrapper img.notion-page-icon {
    display: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    max-width: 124px;
    max-height: 124px;
}

.notion-page-icon-wrapper span.notion-page-icon {
    display: none;
    height: 78px;
    width: 78px;
    max-width: 78px;
    max-height: 78px;
    font-size: 78px;
    line-height: 1.1;
    margin-left: 0;
    color: var(--fg-color-icon);
}

.notion-link {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    border-width: 0px;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px 0;
    border: 0px solid var(--fg-color-0);
    opacity: 1;
    word-break: break-word;
    text-decoration: inherit;
    border-bottom: 0px solid;
    font-weight:600;
}

.notion-h1 {
    font-size: 3.175em;
    margin-top: 2em;
}

.notion-h2 {
    font-size: 1.9em;
    margin-top: 1.5em;
}

.notion-h3 {
    font-size: 1.7em;
    margin-top: 1em;
}

.notion-gallery-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-auto-rows: 1fr;
    grid-gap: 16px;
    gap: 16px;
    border-top: 0px solid var(--fg-color-1);
    padding-top: 16px;
    padding-bottom: 4px;
}

.notion-collection-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    background: var(--bg-color);
    color: var(--fg-color);
    -webkit-transition: background .1s ease-out 0s;
    transition: background .1s ease-out 0s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 2px solid black;
}

.notion-board-th-count {
    display: none;
    color: var(--fg-color-3);
    font-weight: 500;
    padding: 0 8px;
}

.notion-page-cover {
    display: none;
    -webkit-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 0px;
    min-height: 30vh;
    max-height: 30vh;
    padding: 0;
}

.notion-hr {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    border-color: black;
    border-top: none;
    border-top-color: black;
    border-width: 5px;
}

.notion-collection-header {
    display: none;
    align-items: center;
    height: 42px;
    padding: 4px 2px;
    white-space: nowrap;
    overflow: hidden;
}

.notion-callout {
    padding: 16px 16px 16px 12px;
    display: inline-flex;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px 0;
    border: 2px solid black;
}
:root {
    --bg-color: #ffffff;
    --fg-color: #373530;
}

.notion-list-view {
    min-width: 0;
}

.notion-list-body {
    flex-direction: column;
    border-top: 0px solid var(--fg-color-1);
    padding-top: 8px;
}

.notion-list-item {
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    height: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    border-radius: 0px;
    padding: 5px 0px;
}

.notion-list-item-title {
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 1.3;
    flex: 1;
}

.notion-list-item-body {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-direction:column;
}

img.notion-page-icon, svg.notion-page-icon {
    display: none;
    -webkit-object-fit: fill;
    object-fit: fill;
    border-radius: 3px;
    max-width: 22px;
    max-height: 22px;
}


.notion-page-title-text {
    position: relative;
    top: 1px;
    font-size:1em;
    border-bottom: 0px solid var(--fg-color-1);
    line-height: 1.3;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    overflow-wrap: break-word;
}

.notion-page-link {
    display: flex;
    color: var(--fg-color);
    text-decoration: none;
    width: 100%;
    height: auto;
    -webkit-transition: background .12s ease-in 0s;
    transition: background .12s ease-in 0s;
}

.notion-property-multi_select-item, .notion-property-select-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
     height: auto; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: auto;
    font-weight:600;
}


.notion-toggle {
    padding: 3px 2px;
    display:none;
}

.notion-gray_background {
    background-color: black;
    color:white;
    border-radius:5px;
}

.notion-red_background {
    background-color: var(--notion-red);
    color: white;
    border-radius:5px;
}

.notion-page-title-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    border-radius: 3px;
    flex-shrink: 0;
    margin-left: 2px;
    margin-right: 6px;
}

.notion-collection-card-body {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    align-items: flex-start;
    flex: 1;
    justify-content: space-between;
}
